.navabar{
    display: flex;
    gap: 40px;
}

.navabar a{
    color: #303031;
    font-weight: 500;
    letter-spacing: -0.5px;
    align-items: center;
    text-decoration: none;
    font-family: "Proxima Nova", serif;

}

.widthroulogo{
    width: 281px;
}

Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 56px;

}

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.imagewasdasf{
    margin-left: -85px;
}
